<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>greatestMovies</title>
</head>
<body>
  <h1> Greatest Movies of all time</h1>
  <p>Join our community and help us vote on what you think the greatest movies in all time are! Cast your vote and let it be heard from around the world, we thank you for your support! </p>
</body>
</html>